/**************************
TYPOGRAPHY
***************************/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,800;9..40,900&display=swap');

h2 {
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}
h5 {
    font-weight: 200;
}